<!-- doctorDashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}"/>
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/index.css}"/>
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script type="module" src="../../static/js/doctorDashboard.js" defer></script>
    <title>Doctor Dashboard</title>
</head>
<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>
            <div id="main-content">
                <input type="text" id="searchBar" class="searchBar" placeholder="Search" />
                <div id="filter">
                    <button id="todayButton">Day's Appointment</button>
                    <input type="date" id="datePicker" />
                </div>
                <table id="patientTable">
                    <thead>
                        <tr>Patient ID</tr>
                        <tr>Name</tr>
                        <tr>Phone No.</tr>
                        <tr>Email</tr>
                        <tr>Prescription</tr>
                    </thead>
                    <tbody id="patientTableBody"></tbody>
                </table>
            </div>
            <div id="footer"></div>
        </div>
    </div>
</body>
</html>
